.addTodo--header {
    margin-top: 30px;
    padding-bottom: 10px;
}

.addTodo--addons > span {
    width: 90px;
}

.addTodo--card,
.addTodo--breadcrumbs {
    max-width: 500px !important;
    margin: 0 auto;
}

.addTodo--textarea {
    height: 200px !important;
}

.addTodo--button {
    width: 100%;
}