.editTodo--header {
    margin-top: 30px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid grey; */
}

.editTodo--addons > span {
    width: 90px;
}

.editTodo--card,
.editTodo--breadcrumbs {
    max-width: 500px !important;
    margin: 0 auto;
}

.viewTodo--textarea {
    height: 200px !important;
}

.editTodo--button { width: 100%; }