.viewTodo--card {
    max-width: 500px !important;
    margin: 0 auto;
}

.viewTodo--buttons-container {
    display: flex;
    justify-content: center;
}

.viewTodo--buttons {
    width: 97px !important;
    margin: 0 10px;
}