.viewTodo--header {
    margin-top: 30px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewTodo--header--back-icon {
    transform: scale(1.5);
    margin-right: 80%;
}

.viewTodo--card,
.viewTodo--breadcrumbs {
    max-width: 500px !important;
    margin: 0 auto;
}

.viewTodo--buttons-container {
    display: flex;
    justify-content: center;
}

.viewTodo--buttons {
    width: 97px !important;
    margin: 0 10px;
}

