.viewTodo--card {
    max-width: 600px !important;
    margin: 0 auto;
}

.viewTodo--buttons-container {
    display: flex;
    justify-content: space-around;
}

.viewTodo--buttons {
    width: 97px !important;
}