.authForm {
    max-width: 400px !important;
    margin: 0 auto;
}

.authForm--labels {
    text-align: left;
}

/* .authForm--buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.authForm--buttons {
    width: 90px;
} */

.authForm--button {
    width: 100%;
    margin-bottom: 10px;
}