.todoList--items {
    text-align: left;
    margin-bottom: 10px !important;
    display: flex !important;
    justify-content: space-between;
    transition: display .2s;
}

.todoList--items > p {
    margin: 0;
}

.todoList--items__completed {
    text-decoration: line-through;
}

.todoList--items__deleted {
    display: none !important;
}

.todoList--items--button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todoList--items--buttons {
    width: 100px;
}

.todoList--icons {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    align-items: center;
}

.todoList--icons > i {
    transition: color .2s;
    transform: scale(1.5);
    margin-left: 15px;
}

.todoList--icons--check:hover {
    color: green;
}

.todoList--icons--trash:hover {
    color: red;
}